@model InventarioModel

<div class="container mt-4">
    <h1 class="text-center mb-4">Detalles del Producto</h1>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Información del Producto</h4>
        </div>
        <div class="card-body">
            <dl class="row" style="font-size: 20px;">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">@Model.NombreProducto</dd>

                <dt class="col-sm-3">Descripción</dt>
                <dd class="col-sm-9">@Model.PrecioUnitario</dd>

                <dt class="col-sm-3">Teléfono</dt>
                <dd class="col-sm-9">@Model.Stock</dd>

                <dt class="col-sm-3">Fecha de ingreso</dt>
                <dd class="col-sm-9">@Model.FechaIngreso</dd>

                <dt class="col-sm-3">Fecha de ultimo ingreso</dt>
                <dd class="col-sm-9">@Model.UltimoIngreso</dd>


                <dt class="col-sm-3">Estado</dt>
                @if (Model.Estado.Equals(true))
                {
                    <dd class="col-sm-9">Activo</dd>
                }
                else
                {
                    <dd class="col-sm-9">Inactivo</dd>
                }

                <dt class="col-sm-3">Ruta de Imagen</dt>
                <dd class="col-sm-9">@Model.RutaImagen</dd>

               
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="EditarProducto" asp-route-id="@Model.IdProducto" class="btn btn-primary mb-4">Editar</a>
        </div>
        <div class="card-footer text-center">
            <a asp-action="ConsultarProductos" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>
