@model List<SGAgrovictoriaWEB.Entities.Proveedor>

@{
    ViewData["Title"] = "Consultar Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5 mb-3">
    <h1>Lista de Proveedores</h1>
</div>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <table id="Tabla" class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Ubicacion</th>
                    <th>Estado</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdProveedor</td>
                        <td>@item.NombreProveedor</td>
                        <td>@item.Telefono</td>
                        <td>@item.Correo</td>
                        <td>@item.NombreDistrito</td>
                        <td>@item.Estado</td>
                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td>
                            <a href="@Url.Action("ActualizarEstadoProveedor", "Proveedor", new { idProveedor = item.IdProveedor })">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
    </div>


    <div class="col-3 mx-auto justify-content-center align-items-center mt-2">
        <a href="#" class="btn btn-block btn-primary mb-4">Agregar Proveedor</a>
    </div>

</div>



<script src="~/page/vendor/jquery/jquery.js"></script>
<script src="~/page/js/DataTable.js"></script>