<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agro Victoria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <link rel="icon" href="~/page/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/page/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body class="">

    <!-- [ Navigation Menu ] -->
    <nav class="pcoded-navbar  ">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div ">

                <div class="">
                    <div class="main-menu-header">
                        <img class="img-radius" src="~/page/images/user/avatar-2.jpg" alt="User-Profile-Image">
                        <div class="user-details">
                            <span>Administrador</span>
                        </div>
                    </div>
                </div>

                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navegación</label>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("PantallaPrincipal", "Inicio")" class="nav-link "><span class="pcoded-micon"><i class="fa fa-home"></i></span><span class="pcoded-mtext">Inicio</span></a>
                    </li>

                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fa fa-user"></i></span><span class="pcoded-mtext">Administración</span></a>
                        <ul class="pcoded-submenu">
                            <!-- <li><a href="@Url.Action("ConsultarCredenciales", "Credencial")">Consultar Usuarios</a></li>-->
                           
                            <li><a href="@Url.Action("ConsultarUsuarios", "Usuario")">Consultar Usuarios</a></li>

                        </ul>
                    </li>

                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="fa fa-file"></i></span><span class="pcoded-mtext">Proveedores</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="@Url.Action("ConsultarProveedores", "Proveedor")">Consultar Proveedores</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon"><i class="fa fa-box"></i></span>
                            <span class="pcoded-mtext">Inventario</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li><a href="@Url.Action("ConsultarProductos", "Inventario")">Consultar Inventario</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    
    <!-- [ Header ] -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <a href="#">AGRO VICTORIA</a>    
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li>



                    <div class="dropdown drp-user">
                        <!-- Botón que abre el modal -->


                        <!-- 
                        
                        -->
                        <a href="@Url.Action("Acceso", "Login")" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-bell"></i>
                        
                
                
                        </a>




                        <a href="@Url.Action("Acceso", "Login")" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="">Logout</i>

                        </a>



                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="~/page/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                                <span>Administrador</span>
                                <a href="@Url.Action("InicioSesion", "Inicio")" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="#" class="dropdown-item"><i class="feather icon-user"></i> Mi Perfil</a></li>
                                <li><a href="@Url.Action("InicioSesion", "Inicio")" class="dropdown-item"><i class="feather icon-lock"></i>Cerrar Sesion</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </header>

    <div class="pcoded-main-container">
        <div>
            @RenderBody()
        </div>
    </div>

    <script src="~/page/js/vendor-all.min.js"></script>
    <script src="~/page/js/plugins/bootstrap.min.js"></script>
    <script src="~/page/js/pcoded.js"></script>
    <script src="~/page/js/plugins/apexcharts.min.js"></script>
    <script src="~/page/js/pages/dashboard-main.js"></script>

    <script src="https://kit.fontawesome.com/9441ab567a.js" crossorigin="anonymous"></script>
    <script src="~/page/vendor/jquery/jquery.min.js"></script>
    <script src="~/page/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>

</body>

</html>
