


@model List<UsuarioModel>



@{
    ViewData["Title"] = "Consultar Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5 mb-3">
    <h1>Lista de Usuarios</h1>
</div>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <table id="Tabla" class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Id Empleado</th>
                    <th>Tipo Credencial</th>
                    <th>Estado</th>
                    <th>Usuario</th>
                    <th>Actualizar</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Any())
                {
                    @foreach (var usuario in Model)
                    {
                       
                        <tr>
                            <td>@usuario.IdCredencial</td>
                            <td>@usuario.IdEmpleado</td>
                            <td>@usuario.IdTipoCredencial</td>
                                @if(@usuario.Estado.Equals(true))
                                {
                                    <td>Activo</td>
                                }
                                else
                                {
                                    <td>Inactivo</td>
                                }

                            <td>@usuario.Usuario</td>
                            <td>
                                 <a href="@Url.Action("EditarUsuario", new { Id = usuario.IdCredencial })" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                            <td>
                                                                <a href="@Url.Action("ConsultarUsuario", new { Id = usuario.IdCredencial })" class="btn btn-sm btn-info"><i class="fa-solid fa-question-circle"></i></a>

                            </td>
                        </tr>
                        
                        
                    }
                }
                else
                {

                    <tr>
                        <td colspan="5" class="text-center">No hay usuarios disponibles.</td>
                    </tr>
                }
            </tbody>
        </table>
         <div class="text-center">
        <a href="@Url.Action("AgregarUsuario")" class="btn btn-block btn-primary mb-4">Agregar Usuario</a>
    </div>
    </div>
    <div class="col-md-1">
    </div>


   

</div>



<script src="~/page/vendor/jquery/jquery.js"></script>
<script src="~/page/js/DataTable.js"></script>
